/* BlogPostCard.css */

.blog-post-card {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  position: relative;
}

.governor-alia {
  height: 248px;
  object-fit: cover;
  position: relative;
  width: 592px;
}

.heading-and-text-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.heading-and-text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.heading-and-icon {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
}

.heading {
  color: var(--gray-900);
  flex: 1;
  font-family: var(--semibold-type-24-font-family);
  font-size: var(--semibold-type-24-font-size);
  font-style: var(--semibold-type-24-font-style);
  font-weight: var(--semibold-type-24-font-weight);
  letter-spacing: var(--semibold-type-24-letter-spacing);
  line-height: var(--semibold-type-24-line-height);
  margin-top: -1.00px;
  position: relative;
}

.icon-wrap {
  flex: 0 0 auto;
  position: relative;
}

.supporting-text {
  align-self: stretch;
  color: var(--gray-500);
  font-family: var(--regular-type-16-font-family);
  font-size: var(--regular-type-16-font-size);
  font-style: var(--regular-type-16-font-style);
  font-weight: var(--regular-type-16-font-weight);
  letter-spacing: var(--regular-type-16-letter-spacing);
  line-height: var(--regular-type-16-line-height);
  position: relative;
}