.about-us .div-wrapper {
  position: absolute;
  width: 1440px;
  height: 1436px;
  top: 86px;
  left: 0;
}

.about-us .frame-3 {
  display: flex;
  flex-direction: column;
  width: 926px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  top: 64px;
  left: 257px;
}

.about-us .start-using-dogecoin {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Sora-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--primary-1);
  font-size: 44px;
  letter-spacing: -1.32px;
  line-height: 52.8px;
}

.about-us .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about-us .freepik-the-style-is {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 462px;
  object-fit: cover;
}

.about-us .frame-5 {
  display: flex;
  flex-direction: column;
  width: 923px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.about-us .group-2 {
  position: relative;
  width: 916px;
  height: 538px;
}

.about-us .group-3 {
  position: relative;
  width: 920px;
  height: 538px;
}

.about-us .benue-state {
  position: absolute;
  width: 892px;
  top: 0;
  left: 24px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--body-text);
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 28.8px;
}

.about-us .basic-education {
  position: absolute;
  width: 911px;
  top: 132px;
  left: 0;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--body-text);
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 28.8px;
}

.about-us .our-vision-to-be {
  position: relative;
  width: 899px;
  font-family: "Plus Jakarta Sans-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 43.2px;
}

.about-us .span {
  font-weight: 700;
  color: #0c4f24;
  letter-spacing: -0.12px;
}

.about-us .text-wrapper-2 {
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #5f6368;
  font-size: 16px;
  letter-spacing: -0.05px;
  line-height: 28.8px;
}