/* Wrapper for the entire contact page */
.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  min-height: 100vh;
}

/* Container for contact content */
.contact-container {
  width: 100%;
  /* max-width: 1000px; */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  margin-top: 100px;
}

/* Content inside the contact page */
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Title and tagline section */
.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.tagline-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tagline {
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.contact-heading {
  font-size: 32px;
  font-weight: 600;
  color: #0c4f24; /* Green color */
}

.contact-subtext {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

/* Main Content Layout */
.main-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
}

/* Form Section */
.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

/* Input group styles */
.input-group {
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #0c4f24;
}

.input-label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.text-area {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  height: 100px;
}

/* Submit button */
.submit-button {
  align-self: flex-start;
  background-color: #0c4f24;
  color: #fff;
  padding: 12px 32px;
  font-size: 14px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 112px;
  height: 45px;
}

.submit-button:hover {
  background-color: #0b4a21;
}

/* Image Section */
.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-image {
  max-width: 616px;
  height: 734px;
  border-radius: 30px;
}
