.navigation-menu {
  height: 100px;
  position: absolute;
  top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  text-decoration: none;
}

.frame {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  height: 72.45px;
  width: 209px;
}

.frame-2 {
  display: inline-flex;
  gap: 24px;
}

.home-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(82, 164, 62, 1);
  border-radius: 100px;
  padding: 12px 32px;
  color: rgba(82, 164, 62, 1);
  text-decoration: none;
}

.text-wrapper {
  padding: 12px 10px;
  color: black;
  text-decoration: none;
}

.text-wrapper:hover {
  color: rgba(82, 164, 62, 1);
}

.small-button {
  padding: 12px 32px;
  background-color: var(--primary-1);
  border-radius: 73px;
  color: white;
  border: none;
  cursor: pointer;
}
