.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    
  }
  
  .content {
    flex: 1; /* Allows the content to grow and push Footer down */
  }

  header {
    position: relative; /* Prevent overlapping */
    z-index: 10; /* Ensure proper stacking */
  }
  
  footer {
    /* margin-top: auto; 
    position: relative; */
    z-index: 10;
    bottom: 0px;
    position: absolute;
  }
  
  main {
    flex-grow: 1; /* Allow the main content to expand */
    padding: 20px; /* Add spacing for better readability */
    box-sizing: border-box;
  }
  