body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Prevent horizontal scroll on the body */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --accent-1: rgba(82, 164, 62, 1);
  --accentaccent-100: rgba(201, 227, 195, 1);
  --accentaccent-200: rgba(175, 213, 166, 1);
  --accentaccent-300: rgba(139, 194, 126, 1);
  --accentaccent-400: rgba(117, 182, 101, 1);
  --accentaccent-50: rgba(238, 246, 236, 1);
  --accentaccent-500: rgba(82, 164, 62, 1);
  --accentaccent-600: rgba(75, 149, 56, 1);
  --accentaccent-700: rgba(58, 116, 44, 1);
  --accentaccent-800: rgba(45, 90, 34, 1);
  --accentaccent-900: rgba(34, 69, 26, 1);
  --accentued-drop-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  --background-white: rgba(255, 255, 255, 1);
  --body-text: rgba(102, 102, 128, 1);
  --body-text2: rgba(142, 152, 168, 1);
  --bold-type-12-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-12-font-size: 12px;
  --bold-type-12-font-style: normal;
  --bold-type-12-font-weight: 700;
  --bold-type-12-letter-spacing: -0.24px;
  --bold-type-12-line-height: 160.0000023841858%;
  --bold-type-14-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-14-font-size: 14px;
  --bold-type-14-font-style: normal;
  --bold-type-14-font-weight: 700;
  --bold-type-14-letter-spacing: -0.28px;
  --bold-type-14-line-height: 139.9999976158142%;
  --bold-type-16-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-16-font-size: 16px;
  --bold-type-16-font-style: normal;
  --bold-type-16-font-weight: 700;
  --bold-type-16-letter-spacing: -0.32px;
  --bold-type-16-line-height: 139.9999976158142%;
  --bold-type-18-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-18-font-size: 18px;
  --bold-type-18-font-style: normal;
  --bold-type-18-font-weight: 700;
  --bold-type-18-letter-spacing: -0.54px;
  --bold-type-18-line-height: 139.9999976158142%;
  --bold-type-20-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-20-font-size: 20px;
  --bold-type-20-font-style: normal;
  --bold-type-20-font-weight: 700;
  --bold-type-20-letter-spacing: -0.6px;
  --bold-type-20-line-height: 139.9999976158142%;
  --bold-type-24-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-24-font-size: 24px;
  --bold-type-24-font-style: normal;
  --bold-type-24-font-weight: 700;
  --bold-type-24-letter-spacing: -0.72px;
  --bold-type-24-line-height: 120.00000476837158%;
  --bold-type-32-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-32-font-size: 32px;
  --bold-type-32-font-style: normal;
  --bold-type-32-font-weight: 700;
  --bold-type-32-letter-spacing: -0.96px;
  --bold-type-32-line-height: 139.9999976158142%;
  --bold-type-36-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-36-font-size: 36px;
  --bold-type-36-font-style: normal;
  --bold-type-36-font-weight: 700;
  --bold-type-36-letter-spacing: -1.08px;
  --bold-type-36-line-height: 120.00000476837158%;
  --bold-type-40-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-40-font-size: 40px;
  --bold-type-40-font-style: normal;
  --bold-type-40-font-weight: 700;
  --bold-type-40-letter-spacing: -1.2px;
  --bold-type-40-line-height: 120.00000476837158%;
  --bold-type-72-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-72-font-size: 72px;
  --bold-type-72-font-style: normal;
  --bold-type-72-font-weight: 700;
  --bold-type-72-letter-spacing: -2.16px;
  --bold-type-72-line-height: 100px;
  --button-small-font-family: "Axiforma", Helvetica;
  --button-small-font-size: 14px;
  --button-small-font-style: normal;
  --button-small-font-weight: 700;
  --button-small-letter-spacing: 0px;
  --button-small-line-height: 28px;
  --danger-color: rgba(231, 64, 64, 1);
  --dark: rgba(6, 6, 6, 1);
  --default-white: rgba(255, 255, 255, 1);
  --errorerror-100: rgba(240, 190, 206, 1);
  --errorerror-200: rgba(232, 158, 182, 1);
  --errorerror-300: rgba(222, 114, 148, 1);
  --errorerror-400: rgba(216, 86, 128, 1);
  --errorerror-50: rgba(250, 234, 239, 1);
  --errorerror-500: rgba(206, 44, 96, 1);
  --errorerror-600: rgba(187, 40, 87, 1);
  --errorerror-700: rgba(146, 31, 68, 1);
  --errorerror-800: rgba(113, 24, 53, 1);
  --errorerror-900: rgba(87, 18, 40, 1);
  --gray-500: rgba(102, 112, 133, 1);
  --gray-900: rgba(16, 24, 40, 1);
  --graydark: rgba(107, 107, 110, 1);
  --graydark-active: rgba(64, 64, 66, 1);
  --graydark-hover: rgba(85, 85, 88, 1);
  --graydarker: rgba(50, 50, 51, 1);
  --graylight: rgba(244, 244, 244, 1);
  --graylight-active: rgba(220, 220, 222, 1);
  --graylight-hover: rgba(238, 238, 239, 1);
  --graynormal: rgba(142, 142, 147, 1);
  --graynormal-active: rgba(114, 114, 118, 1);
  --graynormal-hover: rgba(128, 128, 132, 1);
  --input-bg: rgba(243, 245, 247, 1);
  --input-bg-2: rgba(242, 242, 242, 1);
  --light: rgba(255, 255, 255, 1);
  --light-background-color: rgba(255, 255, 255, 1);
  --light-neutralgray-0: rgba(255, 255, 255, 1);
  --light-shadow: 0px 12px 35px 9px rgba(0, 0, 0, 0.05);
  --medium-type-12-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-12-font-size: 12px;
  --medium-type-12-font-style: normal;
  --medium-type-12-font-weight: 500;
  --medium-type-12-letter-spacing: -0.24px;
  --medium-type-12-line-height: 160.0000023841858%;
  --medium-type-14-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-14-font-size: 14px;
  --medium-type-14-font-style: normal;
  --medium-type-14-font-weight: 500;
  --medium-type-14-letter-spacing: -0.28px;
  --medium-type-14-line-height: 150%;
  --medium-type-16-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-16-font-size: 16px;
  --medium-type-16-font-style: normal;
  --medium-type-16-font-weight: 500;
  --medium-type-16-letter-spacing: -0.32px;
  --medium-type-16-line-height: 150%;
  --medium-type-18-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-18-font-size: 18px;
  --medium-type-18-font-style: normal;
  --medium-type-18-font-weight: 500;
  --medium-type-18-letter-spacing: -0.36px;
  --medium-type-18-line-height: 150%;
  --medium-type-24-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-24-font-size: 24px;
  --medium-type-24-font-style: normal;
  --medium-type-24-font-weight: 500;
  --medium-type-24-letter-spacing: -0.48px;
  --medium-type-24-line-height: 139.9999976158142%;
  --medium-type-32-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-32-font-size: 32px;
  --medium-type-32-font-style: normal;
  --medium-type-32-font-weight: 500;
  --medium-type-32-letter-spacing: -0.64px;
  --medium-type-32-line-height: 139.9999976158142%;
  --medium-type-36-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-36-font-size: 36px;
  --medium-type-36-font-style: normal;
  --medium-type-36-font-weight: 500;
  --medium-type-36-letter-spacing: -1.08px;
  --medium-type-36-line-height: 120.00000476837158%;
  --medium-type-40-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-40-font-size: 40px;
  --medium-type-40-font-style: normal;
  --medium-type-40-font-weight: 500;
  --medium-type-40-letter-spacing: -1.2px;
  --medium-type-40-line-height: 120.00000476837158%;
  --medium-type-72-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-72-font-size: 72px;
  --medium-type-72-font-style: normal;
  --medium-type-72-font-weight: 500;
  --medium-type-72-letter-spacing: -2.16px;
  --medium-type-72-line-height: 110.00000238418579%;
  --medium-type20-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type20-font-size: 20px;
  --medium-type20-font-style: normal;
  --medium-type20-font-weight: 500;
  --medium-type20-letter-spacing: -0.4px;
  --medium-type20-line-height: 139.9999976158142%;
  --modal-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px
      rgba(16, 24, 40, 0.08);
  --outline: rgba(232, 232, 246, 1);
  --primary-1: rgba(12, 79, 36, 1);
  --primary-200: rgba(82, 79, 213, 1);
  --primaryprimary-100: rgba(180, 200, 187, 1);
  --primaryprimary-200: rgba(143, 174, 154, 1);
  --primaryprimary-300: rgba(92, 137, 108, 1);
  --primaryprimary-400: rgba(61, 114, 80, 1);
  --primaryprimary-50: rgba(231, 237, 233, 1);
  --primaryprimary-500: rgba(12, 79, 36, 1);
  --primaryprimary-600: rgba(11, 72, 33, 1);
  --primaryprimary-700: rgba(9, 56, 26, 1);
  --primaryprimary-800: rgba(7, 43, 20, 1);
  --primaryprimary-900: rgba(5, 33, 15, 1);
  --regular-type-12-font-family: "Plus Jakarta Sans", Helvetica;
  --regular-type-12-font-size: 12px;
  --regular-type-12-font-style: normal;
  --regular-type-12-font-weight: 400;
  --regular-type-12-letter-spacing: -0.12px;
  --regular-type-12-line-height: 160.0000023841858%;
  --regular-type-14-font-family: "Plus Jakarta Sans", Helvetica;
  --regular-type-14-font-size: 14px;
  --regular-type-14-font-style: normal;
  --regular-type-14-font-weight: 400;
  --regular-type-14-letter-spacing: -0.28px;
  --regular-type-14-line-height: 150%;
  --regular-type-16-font-family: "Plus Jakarta Sans", Helvetica;
  --regular-type-16-font-size: 16px;
  --regular-type-16-font-style: normal;
  --regular-type-16-font-weight: 400;
  --regular-type-16-letter-spacing: -0.32px;
  --regular-type-16-line-height: 150%;
  --regular-type-18-font-family: "Plus Jakarta Sans", Helvetica;
  --regular-type-18-font-size: 18px;
  --regular-type-18-font-style: normal;
  --regular-type-18-font-weight: 400;
  --regular-type-18-letter-spacing: -0.36px;
  --regular-type-18-line-height: 150%;
  --regular-type-20-font-family: "Plus Jakarta Sans", Helvetica;
  --regular-type-20-font-size: 20px;
  --regular-type-20-font-style: normal;
  --regular-type-20-font-weight: 400;
  --regular-type-20-letter-spacing: -0.4px;
  --regular-type-20-line-height: 139.9999976158142%;
  --regular-type-24-font-family: "Plus Jakarta Sans", Helvetica;
  --regular-type-24-font-size: 24px;
  --regular-type-24-font-style: normal;
  --regular-type-24-font-weight: 400;
  --regular-type-24-letter-spacing: -0.48px;
  --regular-type-24-line-height: 120.00000476837158%;
  --regular-type-32-font-family: "Plus Jakarta Sans", Helvetica;
  --regular-type-32-font-size: 32px;
  --regular-type-32-font-style: normal;
  --regular-type-32-font-weight: 400;
  --regular-type-32-letter-spacing: -0.64px;
  --regular-type-32-line-height: 139.9999976158142%;
  --regular-type-36-font-family: "Plus Jakarta Sans", Helvetica;
  --regular-type-36-font-size: 36px;
  --regular-type-36-font-style: normal;
  --regular-type-36-font-weight: 400;
  --regular-type-36-letter-spacing: -1.08px;
  --regular-type-36-line-height: 120.00000476837158%;
  --regular-type-40-font-family: "Plus Jakarta Sans", Helvetica;
  --regular-type-40-font-size: 40px;
  --regular-type-40-font-style: normal;
  --regular-type-40-font-weight: 400;
  --regular-type-40-letter-spacing: -1.2px;
  --regular-type-40-line-height: 120.00000476837158%;
  --regular-type-72-font-family: "Plus Jakarta Sans", Helvetica;
  --regular-type-72-font-size: 72px;
  --regular-type-72-font-style: normal;
  --regular-type-72-font-weight: 400;
  --regular-type-72-letter-spacing: -2.88px;
  --regular-type-72-line-height: 110.00000238418579%;
  --second-text-color: rgba(115, 115, 115, 1);
  --secondary: rgba(43, 87, 43, 1);
  --semibold-type-12-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-12-font-size: 12px;
  --semibold-type-12-font-style: normal;
  --semibold-type-12-font-weight: 600;
  --semibold-type-12-letter-spacing: -0.24px;
  --semibold-type-12-line-height: 160.0000023841858%;
  --semibold-type-14-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-14-font-size: 14px;
  --semibold-type-14-font-style: normal;
  --semibold-type-14-font-weight: 600;
  --semibold-type-14-letter-spacing: -0.28px;
  --semibold-type-14-line-height: 150%;
  --semibold-type-16-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-16-font-size: 16px;
  --semibold-type-16-font-style: normal;
  --semibold-type-16-font-weight: 600;
  --semibold-type-16-letter-spacing: -0.32px;
  --semibold-type-16-line-height: 150%;
  --semibold-type-18-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-18-font-size: 18px;
  --semibold-type-18-font-style: normal;
  --semibold-type-18-font-weight: 600;
  --semibold-type-18-letter-spacing: -0.36px;
  --semibold-type-18-line-height: 150%;
  --semibold-type-20-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-20-font-size: 20px;
  --semibold-type-20-font-style: normal;
  --semibold-type-20-font-weight: 600;
  --semibold-type-20-letter-spacing: -0.4px;
  --semibold-type-20-line-height: 139.9999976158142%;
  --semibold-type-24-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-24-font-size: 24px;
  --semibold-type-24-font-style: normal;
  --semibold-type-24-font-weight: 600;
  --semibold-type-24-letter-spacing: -0.72px;
  --semibold-type-24-line-height: 150%;
  --semibold-type-32-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-32-font-size: 32px;
  --semibold-type-32-font-style: normal;
  --semibold-type-32-font-weight: 600;
  --semibold-type-32-letter-spacing: -0.96px;
  --semibold-type-32-line-height: 139.9999976158142%;
  --semibold-type-36-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-36-font-size: 36px;
  --semibold-type-36-font-style: normal;
  --semibold-type-36-font-weight: 600;
  --semibold-type-36-letter-spacing: -1.08px;
  --semibold-type-36-line-height: 120.00000476837158%;
  --semibold-type-40-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-40-font-size: 40px;
  --semibold-type-40-font-style: normal;
  --semibold-type-40-font-weight: 600;
  --semibold-type-40-letter-spacing: -1.2px;
  --semibold-type-40-line-height: 120.00000476837158%;
  --semibold-type-72-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-72-font-size: 72px;
  --semibold-type-72-font-style: normal;
  --semibold-type-72-font-weight: 600;
  --semibold-type-72-letter-spacing: -2.16px;
  --semibold-type-72-line-height: 110.00000238418579%;
  --shadow: 0px 22px 41px 9px rgba(0, 0, 0, 0.05);
  --soft-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05), 0px 1px 2px 0px
      rgba(0, 0, 0, 0.1);
  --stroke: rgba(232, 234, 237, 1);
  --successsuccess-100: rgba(192, 232, 215, 1);
  --successsuccess-200: rgba(162, 221, 196, 1);
  --successsuccess-300: rgba(119, 206, 169, 1);
  --successsuccess-400: rgba(93, 197, 153, 1);
  --successsuccess-50: rgba(235, 248, 242, 1);
  --successsuccess-500: rgba(52, 182, 127, 1);
  --successsuccess-600: rgba(47, 166, 116, 1);
  --successsuccess-700: rgba(37, 129, 90, 1);
  --successsuccess-800: rgba(29, 100, 70, 1);
  --successsuccess-900: rgba(22, 76, 53, 1);
  --surface-bg-color: rgba(228, 233, 230, 1);
  --text-dark: rgba(57, 57, 57, 1);
  --text-lg-semibold-font-family: "Inter", Helvetica;
  --text-lg-semibold-font-size: 18px;
  --text-lg-semibold-font-style: normal;
  --text-lg-semibold-font-weight: 600;
  --text-lg-semibold-letter-spacing: 0px;
  --text-lg-semibold-line-height: 28px;
  --text-md-normal-font-family: "Inter", Helvetica;
  --text-md-normal-font-size: 16px;
  --text-md-normal-font-style: normal;
  --text-md-normal-font-weight: 400;
  --text-md-normal-letter-spacing: 0px;
  --text-md-normal-line-height: 24px;
  --text-primary: rgba(24, 27, 50, 1);
}