/* Container for the entire News & Events section */
.news-events-container {
  max-width: 1200px;
  position: relative;
  top: -80px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Header Section */
.news-header {
  margin-bottom: 40px;
}

.news-title {
  font-size: 36px;
  font-weight: 600;
  color: green;
  margin-bottom: 10px;
  font-family: "Sora", sans-serif;
}

.news-subtitle {
  font-size: 16px;
  color: #636e72;
  /* line-height: 1.6; */
  font-family: "Sora", sans-serif;
}

/* Cards Section */
.news-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Individual Card */
.news-card {
  background: #ffffff;

  border-radius: 10px;
  width: 300px;
  padding: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: left;
  top: -40px;

  /* transition: transform 0.3s ease; */
}

/* .news-card:hover {
  transform: scale(1.05);
} */

/* Card Content */
.news-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-card-date {
  font-size: 14px;
  color: #6941c6;
  font-weight: bold;
  padding-top: 15px;
}

.news-card-header {
  display: flex;
  justify-content: space-between;
}

.news-card-title {
  font-size: 18px;
  color: #2d3436;
  font-family: "Sora", sans-serif;
  text-transform: uppercase;
}

.news-card-text {
  font-size: 16px;
  color: #636e72;
  line-height: -2%;
  margin-top: -10px;
}

/* Badge/Button */
.news-card-badge {
  margin-top: -10px;
  /* align-self: flex-start; */
  /* font-size: 14px; */
  cursor: pointer;
  width: 100px;
  transition: color 0.3s ease;
  background-color: #f0f2f0;
  padding: 2px 10px;
  border-radius: 16px;
}

.news-card-badge:hover {
  color: #6c5ce7;
}
